scripts/credentials.json

#############################################
# Dependencies
#############################################
node_modules

#############################################
# Compilation output and runtime
#############################################


#############################################
# Test execution
#############################################


#############################################
# Configuration
#############################################

#############################################
# IDEs
#############################################

# JetBrains
/.idea

# Eclipse
/.project
/.classpath
/.settings

# Sublime
/*.sublime-workspace

# VSCode
/.vscode


#############################################
# Please do not add rules here without a proper category.
